body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  text-decoration: none;
}

.conatiner {
  width: 100%;
  height: 500px;
}
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.btn__loadmore_popular_next {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 0px;
  margin-bottom: 40px;
  z-index: 900;
}

.btn__loadmore_popular_prev {
  position: fixed;
  display: block;
  left: 0;
  bottom: 0;
  margin-left: 0px;
  margin-bottom: 40px;
  z-index: 900;
}

.example_e {
  border: none;
  background: #404040;
  color: #ffffff;
  font-weight: 100;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  text-decoration: none;
}
.wrap_overview {
  padding-top: 10px;
}

.example_e:hover {
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease 0s;
}

.box {
  margin: 20px;
  width: 300px;
  height: 490px;
  text-align: center;
  border-radius: 15px;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}
.single_box {
  margin: 30px;
  width: 500px;
  height: 700px;
  text-align: center;
  border-radius: 8px;
  -webkit-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.content_desc_overview {
  margin: 30px;
}
.detail_overview {
  padding-top: 30px;
}

@media (max-width: 991px) {
  .single_box {
    margin: 19px;
    width: 300px;
    height: 490px;
    text-align: center;
    border-radius: 8px;
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  }
}

.box .btn-preview {
  font-size: 10px;
}

.box:hover {
  margin-bottom: -30px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.box h1 {
  color: #fff;
  padding: 30px;
  margin-top: 100px;
  text-align: center;
  font-weight: 100;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.date h4 {
  color: #fff;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
}
.poster {
  width: auto;
  height: 110px;
  margin: 380px auto;
  position: relative;
}

.posteroverview {
  width: auto;
  height: 40px;
  margin: 50px auto;
  position: relative;
  border-radius: 80%;
}

.posteroverview h4 {
  top: 16px;
  color: #fff;
  position: relative;
  font-size: 19px;
  text-align: center;
  font-weight: 700;
}

.poster h4 {
  top: 16px;
  color: #fff;
  position: relative;
  font-size: 19px;
  text-align: center;
  font-weight: 100;
}
.one {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.two {
  background: url("https://source.unsplash.com/820x900");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.three {
  background: url("https://source.unsplash.com/500x500");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* POSTER*/
.p1 {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.p1:hover {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
h4:hover {
  font-weight: 700;
  color: white;
}

.p2 {
  background: #f857a6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff5858,
    #f857a6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff5858),
    to(#f857a6)
  );
  background: -webkit-linear-gradient(left, #ff5858, #f857a6);
  background: -o-linear-gradient(left, #ff5858, #f857a6);
  background: linear-gradient(
    to right,
    #ff5858,
    #f857a6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 0 20px #fa3380;
  box-shadow: 0 0 20px #fa3380;
}

.p3 {
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#8e54e9),
    to(#4776e6)
  );
  background: -webkit-linear-gradient(left, #8e54e9, #4776e6);
  background: -o-linear-gradient(left, #8e54e9, #4776e6);
  background: linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 0 20px lightblue;
  box-shadow: 0 0 20px lightblue;
}

.p4 {
  background: #1fa2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a6ffcb),
    color-stop(#12d8fa),
    to(#1fa2ff)
  );
  background: -webkit-linear-gradient(left, #a6ffcb, #12d8fa, #1fa2ff);
  background: -o-linear-gradient(left, #a6ffcb, #12d8fa, #1fa2ff);
  background: linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 0 20px skyblue;
  box-shadow: 0 0 20px skyblue;
}

.p5 {
  background: #aa076b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #61045f,
    #aa076b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#61045f),
    to(#aa076b)
  );
  background: -webkit-linear-gradient(left, #61045f, #aa076b);
  background: -o-linear-gradient(left, #61045f, #aa076b);
  background: linear-gradient(
    to right,
    #61045f,
    #aa076b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 0 20px purple;
  box-shadow: 0 0 20px purple;
}

.p6 {
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.p7 {
  background: #02aab0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00cdac,
    #02aab0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#00cdac),
    to(#02aab0)
  );
  background: -webkit-linear-gradient(left, #00cdac, #02aab0);
  background: -o-linear-gradient(left, #00cdac, #02aab0);
  background: linear-gradient(
    to right,
    #00cdac,
    #02aab0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 0 20px lightgreen;
  box-shadow: 0 0 20px lightgreen;
}
.p8 {
  background: #5433ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a5fecb,
    #20bdff,
    #5433ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a5fecb),
    color-stop(#20bdff),
    to(#5433ff)
  );
  background: -webkit-linear-gradient(left, #a5fecb, #20bdff, #5433ff);
  background: -o-linear-gradient(left, #a5fecb, #20bdff, #5433ff);
  background: linear-gradient(
    to right,
    #a5fecb,
    #20bdff,
    #5433ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 0 20px lightblue;
  box-shadow: 0 0 20px lightblue;
}
.p9 {
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fa3,
    #fa3380
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fa3),
    to(#fa3380)
  );
  background: -webkit-linear-gradient(left, #fa3, #fa3380);
  background: -o-linear-gradient(left, #fa3, #fa3380);
  background: linear-gradient(
    to right,
    #fa3,
    #fa3380
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 0 20px #fa3380;
  box-shadow: 0 0 20px #fa3380;
}

.p10 {
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    deepskyblue,
    lightblue
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(deepskyblue),
    to(lightblue)
  );
  background: -webkit-linear-gradient(left, deepskyblue, lightblue);
  background: -o-linear-gradient(left, deepskyblue, lightblue);
  background: linear-gradient(
    to right,
    deepskyblue,
    lightblue
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 0 20px darkblue;
  box-shadow: 0 0 20px darkblue;
}

.p13 {
  background: #f4c4f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc67fa,
    #f4c4f3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fc67fa),
    to(#f4c4f3)
  );
  background: -webkit-linear-gradient(left, #fc67fa, #f4c4f3);
  background: -o-linear-gradient(left, #fc67fa, #f4c4f3);
  background: linear-gradient(
    to right,
    #fc67fa,
    #f4c4f3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 0 20px pink;
  box-shadow: 0 0 20px pink;
}
.p14 {
  background: #00c3ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffff1c,
    #00c3ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffff1c),
    to(#00c3ff)
  );
  background: -webkit-linear-gradient(left, #ffff1c, #00c3ff);
  background: -o-linear-gradient(left, #ffff1c, #00c3ff);
  background: linear-gradient(
    to right,
    #ffff1c,
    #00c3ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 0 20px olive;
  box-shadow: 0 0 20px olive;
}
.p15 {
  background: #5614b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dbd65c,
    #5614b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#dbd65c),
    to(#5614b0)
  );
  background: -webkit-linear-gradient(left, #dbd65c, #5614b0);
  background: -o-linear-gradient(left, #dbd65c, #5614b0);
  background: linear-gradient(
    to right,
    #dbd65c,
    #5614b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 0 20px olive;
  box-shadow: 0 0 20px olive;
}

.p16 {
  background: #fc00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00dbde,
    #fc00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#00dbde),
    to(#fc00ff)
  );
  background: -webkit-linear-gradient(left, #00dbde, #fc00ff);
  background: -o-linear-gradient(left, #00dbde, #fc00ff);
  background: linear-gradient(
    to right,
    #00dbde,
    #fc00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 0 20px olive;
  box-shadow: 0 0 20px olive;
}

/*  FOLLOW*/
.Follow {
  background: url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")
    no-repeat center / contain;
  width: 50px;
  height: 50px;
  bottom: 9px;
  right: 20px;
  display: block;
  position: fixed;
  border-radius: 50%;
  z-index: 999;
  animation: rotation 10s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
